body{
  color: rgb(30, 255, 0);
  background-color: rgb(48, 54, 90);  
  font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius:50%;
    border: 5px solid rgba(47, 119, 212, 0.712)
}

.center{
     text-align: center;
}

footer img{
        width:40px ;
        height: 40px;
    }

footer {
    display: flex;
    justify-content: center
}

footer a {
    margin: 20px;
    text-align: center;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
   color: #e4e72e
}

header h1 {
    color: #ffa704;
}

main section p { 
    color: #ffffff;
} 

.main h3{
    color: #dd0000;
}

.Folheto {
    margin: 20px;
}

h3 {
    color: #eecd11;
}

h1 {
    color: #eecd11;
}

.letra h3 {
    color: #ffffff;
}

.participantes h4{
    color: #ffffff;
}

.atencao h1{
    color: #d41616;
}